*{
    margin: 0;
}
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,900&display=swap');


/* header(moble) */



.head{
    display:flex;
    align-items: center;
    background-color: #FFFFFF;
    margin: 1.308rem auto 1.469rem auto; /* 20.928px, 23.504px*/
}
.icon{
    padding-right: .4rem; /* 6.4px */
}
header img{
    padding-left: .8rem;/* 12.8px */
}
.head nav span{
    padding-left: .8rem; /* 12.8px */
    font-family: Source Sans Pro;
}
h3{
    font-family: Roboto;
}

/* section one */

.code-img{
    filter: blur(3px);
    background-image: url(/photos/pexels-pixabay-270366.jpg);
    background-size: cover;
    width: 100%; /* 393.008px */
    height: 18.313rem; /* 293px */
    
}
.p1-1{
    top: 5rem; /* change later */
    left:1rem; /* 16px */
    position: absolute;
    font-size: 1rem;
}
.black{
    color: black;
    text-shadow: none;
}
.white{
    color:white;
    text-shadow: 2px 2px 2px black;
    font-family: Source Sans Pro;
}
.sub-title-1{
    position: absolute;
    font-size: 3em;
    line-height: 1em;
    top: 6rem; /* change later */
    left: 1rem;
}
.p1-2{
    font-size: 1.1em; 
    position: absolute;
    top: 13rem;
    left: 1rem;
    line-height: 1em;
    letter-spacing: .05em;
}
